
h1 {
  color: red;
  font: 100;
  font-family: monospace;
}
body {
  color: rgb(0, 0, 0);
  font: 70;
  font-family: monospace;
  padding: 0px;
  margin: 0px;
}
header {
    background-color: grey;
    padding: 5px;
}
section {
    background-color: rgb(255, 255, 255);
    margin: 20px;
    flex-direction: row;
    display: flex;
    flex-direction: row;
}

div {
    background-color: rgb(209, 37, 94);
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: auto;
}

ul {
  margin: auto;
  padding: auto;
  list-style-type: none;
  text-decoration: none;
}
ul:hover{
  text-decoration: underline;
}

li {
  display: inline-block;
  margin: 20px;
}
